# gitignore for node
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
# gitignore for python
*.pyc
__pycache__/

# gitignore commons
*.wt
*.lock
*.log

test/src/db/*
.vscode/
.turtle
test/src
